div.navigation{
	padding-top: 20px;
}
div.title{
	margin-top: 15px;
}
div.bottom{
	margin-top: 22px;
}
input.search{
	height: 50px;
	border-radius:25px;
	border-color:#FFFFFF;
	background:rgba(0, 0, 0, 0);
}
button.search{
	height: 50px;
	border-radius:25px;
	border-color:#FFFFFF;
	background:rgba(0, 0, 0, 0);
}

.htmleaf-container{
    display: none;
}

textarea{
    border:none;
	padding:15px 20px;
	border-radius:25px;
	background-color:rgba(255,255,255,.1);
}
