
body, html{
	font-size: 100%;
	margin: 0;
}

*,:after,:before{box-sizing:border-box}

input, button {
  outline: none;
  border: none;
}

.login-wrap{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:50px;

	max-width:525px;
	min-height:650px;
	position:relative;
	border-radius: 50px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	border-radius: 50px;
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background: #343d4e
}

.contact-html{
	border-radius: 50px;
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background: #343d4e
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	        transition:all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}

.login-html .tab,
.login-form .group .label1,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:20px;
}
.login-form .group .label1,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label1{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}

.login-form .group .check:checked + label1{
	color:#fff;
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	    -ms-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	    -ms-transform:rotate(0);
	        transform:rotate(0);
}

.contact .group .input{
    height: 150px;
    width:350px;
    border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.contact .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}

.contact-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.contact-html .tab,
.contact-form .group .label1,
.contact-form .group .button{
	text-transform:uppercase;
}

.contact-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
	color:#fff;
}

.contact .group .button{
	background:#1161ee;
	text-transform:uppercase;
	width:100%;
	color:#fff;
	display:block;
}

.border{
    display: none;
}

.topbox{
    width: 300px;
    height:50px;
    text-align: center;
}

.mainbox{
    width:300px;
    height: 50px;
    text-align: center;
}

.downbox{
    width: 300px;
    height: 80px;
    text-align:right;
}

.ensurebutton{
    border-radius:5px;
    width:70px;
    height:30px;
    margin-right: 50px;
    background: #FFFFFF;
    outline: none;
    border: none;
}